<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="asuspt.thequiz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="asuspt.thequiz.activities.LoginOrRegister"
            android:label="The Quiz" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="asuspt.thequiz.activities.LoginActivity"
            android:label="Home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="asuspt.thequiz.activities.RegisterActivity"
            android:label="Home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="asuspt.thequiz.activities.HomeActivity"
            android:label="Home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="asuspt.thequiz.activities.QuizActivity"
            android:label="Quiz" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="asuspt.thequiz.activities.QuizGraderActivity"
            android:label="Grade" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="asuspt.thequiz.activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName="asuspt.thequiz.activities.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="asuspt.thequiz.activities.HomeActivity" />
        </activity>
        <activity
            android:name="asuspt.thequiz.activities.QuizIdActivity"
            android:label="@string/title_activity_quiz_id"
            android:parentActivityName="asuspt.thequiz.activities.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="asuspt.thequiz.activities.HomeActivity" />
        </activity>
    </application>

</manifest>